 <h1>YouTube Playlist Manager</h1>
 <form class="ui-g-12 ui-md-6 ui-md-offset-3 ui-g-nopad" #loginForm=ngForm (ngSubmit)="onSubmit()">
    <p>Sign In</p>
    <span class="ui-float-label ui-md-offset-4 ui-md-4 ui-g-nopad">
      <input name="email" type="text" size="30" pInputText [(ngModel)]="form.email" required>
      <label for="float-input">Email</label>
    </span>
    <span class="ui-float-label ui-md-offset-4 ui-md-4 ui-g-nopad">
      <input name="password" type="password" size="30" pInputText [(ngModel)]="form.password" required>
      <label for="float-input">Password</label>
    </span>
    <span class="ui-float-label ui-g-12 ui-md-offset-4 ui-md-4 ui-g-nopad">
        <p-button class="ui-md-4 ui-g-nopad" type="submit" label="Sign In" [disabled]="!loginForm.valid"></p-button>
        <p-button class="ui-md-4 ui-g-nopad ui-md-offset-4" id="sign-up" label="Sign Up" routerLink="/signup"></p-button>
    </span>
    <span class="ui-g-12 ui-md-offset-4 ui-md-4 ui-g-nopad" id="reset-pass">
        <small>
          <a class="ui-md-4 ui-g-nopad ui-md-offset-8" routerLink="/request-password-reset">forgot password?</a>
        </small>
    </span>
</form>

