.btn-no-border {
  width: 100%;
  background-color: #fff !important;
}

.folder_name {
  width: 100%;
  margin: 10px;
  margin-bottom: 18px;
}

:host /deep/ .card-body {
  padding: 0px;
  color: blue;
}

:host /deep/ .card-body > .row {
  color: red;
}

:host /deep/ .card-header > a {
  color: #343a40;
}
:host /deep/ .card-body > .delete-button::after {
	content: url('/assets/images/delete.svg');
	width: 15px;
	height: 15px;
	float: right;
}

:host /deep/ .card-body > .delete-button{
	text-align: left;
}



