<h1>YouTube Playlist Manager</h1>
 <form class="ui-g-12 ui-md-6 ui-md-offset-3 ui-g-nopad" #resetPasswordForm=ngForm (ngSubmit)="onSubmit()">
    <p>Reset Password</p>
    <span class="ui-float-label ui-md-offset-4 ui-md-4 ui-g-nopad">
      <input name="email" type="text" size="30" pInputText [(ngModel)]="form.email" required>
      <label for="float-input">Email</label>
    </span>
    <span class="ui-float-label ui-md-offset-4 ui-md-4 ui-g-nopad">
      <input name="password" type="password" size="30" pInputText [(ngModel)]="form.password" required>
      <label for="float-input">Password</label>
    </span>
    <span class="ui-float-label ui-md-offset-4 ui-md-4 ui-g-nopad">
      <input name="password_confirmation" type="password" size="30" pInputText [(ngModel)]="form.password_confirmation" required>
      <label for="float-input">Confirm</label>
    </span>
    <span id="pass-buttons" class="ui-float-label ui-g-12 ui-md-offset-4 ui-md-4 ui-g-nopad">
        <p-button class="ui-md-4 ui-g-nopad" type="submit" label="Reset" [disabled]="!resetPasswordForm.valid"></p-button>
    </span>
</form>
