h1 {
    color: #ffffff;
    text-align: center;
}

form {
    color: #ffffff;
    background-color: #5c9ccc;
    margin-top: 5%;
}

p {
    font-size: 1.75em;
    padding-top: 0px;
    margin-top: 5px;
    text-align: center;
}

label {
    color: #ffffff;
}

input, input:focus, input:enabled:hover {
    background-color: #5c9ccc;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #ffffff;
    box-shadow: none;
    width: 100%;
    color: #ffffff;
}

span {
    margin-top: 5%;
}

a {
    color: #ffffff;
    text-decoration: none;
    white-space: nowrap;
}

:host ::ng-deep .ui-button-text {
    white-space: nowrap;
}

#reset-pass {
    margin-top: 10px;
    margin-bottom: 10px;
}

#pass-buttons {
    margin-bottom: 10px;
}

[type="submit"] {
    -webkit-appearance: none;
}
