<form class="ui-g" #savePlaylistForm="ngForm" method="post" (ngSubmit)="onSubmit(savePlaylistForm)">
    <span class="ui-float-label ui-md-8 ui-g-nopad">
      <input [(ngModel)]="form.playlist_name" name="playlist_name" type="text" size="20" pInputText [(ngModel)]="form.password" required>
      <label for="float-input">save playlist...</label>
    </span>
    <span class="ui-md-2">
        <button class="fa fa-save" type="submit" [disabled]="!savePlaylistForm.valid"></button>
    </span>
</form>
