<div class="mt-lg-4 col-6 offset-3">
  <div class="card">
    <div class="card-header">Login</div>
    <div class="card-body">

        <form #RequestResetForm=ngForm (ngSubmit)="onSubmit()">
          <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label">Email</label>
            <div class="col-sm-8">
              <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                     [(ngModel)]="form.email" required>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-8 offset-4">
              <button type="submit" class="btn btn-primary" [disabled]="!RequestResetForm.valid">Send Email</button>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
