<h1>YouTube Playlist Manager</h1>
 <form class="ui-g-12 ui-md-4 ui-md-offset-4 ui-g-nopad" #RequestResetForm=ngForm (ngSubmit)="onSubmit()">
    <p>Password Reset</p>
    <span class="ui-float-label ui-md-offset-4 ui-md-4 ui-g-nopad">
      <input name="email" type="text" size="30" pInputText [(ngModel)]="form.email" required>
      <label for="float-input">Email</label>
    </span>
    <span id="pass-buttons" class="ui-float-label ui-g-12 ui-md-offset-4 ui-md-4 ui-g-nopad">
        <p-button class="ui-md-4 ui-g-nopad" type="submit" label="Send" [disabled]="!RequestResetForm.valid">
        </p-button>
        <p-button class="ui-md-4 ui-g-nopad ui-md-offset-4" label="Sign In" routerLink="/login"></p-button>
      </span>
</form>

