html, body {
    height: 100%;
}

.container {
    position: absolute;
    height: 100%;
    width: 100%;
}

.auth {
    background-color: #2e6e9e;
    position: absolute;
    height: 100%;
    top: 0px;
}

.top-nav {
    position: fixed;
    height: 64px;
    z-index: 999;
    background-color: #5c9ccc;
    border: 1px solid #4297d7;
    color: #ffffff;
}

.side-nav {
    position: fixed;
    height: 100%;
    background-color: #2e6e9e;
    overflow: scroll;
}

.header {
    height: 64px;
    position: relative;
    background-color: #2e6e9e;
    color: #dfeffc;
    font-size: 1.5em;
}

.playlist {
    height: 128px;
    position: absolute;
    top: 128px;
    background-color: #ffffff;
    z-index: 1;
}
.dashboard {
    position: relative;
    height: 100%;
    margin-top: 128px;
    background-color: #ffffff;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 64px;
    z-index: 999;
    background-color: red;
}

.side-nav, .header {
    margin-top: 64px;
}

