label {
    color: #ffffff;
}

form {
}

input {
    margin-left: 9px;
}

label {
    margin-left: 12px;
}

input, input:focus, input:enabled:hover {
    background-color: #5c9ccc;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #ffffff;
    box-shadow: none;
    width: 100%;
    color: #ffffff;
}

button {
    background-color: #5c9ccc;
    border: 1px solid #ffffff;
    color: #ffffff;
    margin-top: 5px;
    margin-left: 5px;
 }

:host ::ng-deep ..ui-state-disabled, .ui-widget:disabled {
    border-radius: 0px;
    opacity: 1;
    background-color: #5c9ccc;
}
