<p-carousel headerText="my playlist" [value]="videoList" [numVisible]=6>
    <ng-template let-video pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                    <img *ngIf="video?.thumbnail" class="ui-grid-col-12" src="{{video?.thumbnail}}">
                </div>
            </div>
        </div>
    </ng-template>

</p-carousel>
<div *ngIf="videoList" class="play ui-md-1 ui-g-nopad">
    <span class="fa fa-play" (click)="startPlaylist()">Play</span>
</div>
