:host ::ng-deep .ui-widget {
    font-size: .75em;
}
:host ::ng-deep .ui-carousel-header {
    padding: 0px !important;
}

:host ::ng-deep img {
    height: 128px;
}

.title {
    height: 36px;
}

span {
  padding-bottom: 3px;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 4px;
  cursor: pointer;
}

#remove {
  float: right;
}

span:before {
  padding-right: 4px;
}
