:host /deep/ .btn-no-border:focus, .btn:focus {
  box-shadow: none;
}

.sidebar {
  position: fixed;
  height: 100%;
  border-right: 1px solid #343a40;
  overflow-y: scroll;
}

.add-folder {
  padding-bottom: 10px;
}

.sidebar-sticky {
  padding-top: 0px !important;
  padding-bottom: 65px !important;
}
