:host /deep/ .btn-no-border:focus, .btn:focus {
  box-shadow: none;
}

.sidebar {
  position: fixed;
  top: 64px;
  height: 100%;
  border-right: 1px solid #343a40;
  overflow-y: scroll;
  z-index: 2;
}

.add-folder {
  padding-bottom: 10px;
}

.sidebar-sticky {
  padding-top: 0px !important;
  padding-bottom: 65px !important;
}

.btn-no-border {
  border:0px solid transparent;
  background-color: #f8f9fa!important;
}

