<li class="nav-item" *ngFor="let subscription of noFolderSubscriptions">
  <div class="btn-group dropright">
    <button type="button" class="btn btn-no-border dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="folder_name">{{ subscription?.title }} </span>
    </button>
    <!--<div class="dropdown-menu">-->
      <!--<a class="dropdown-item" href="/dashboard/{{ subscription?.id }}">Show videos</a>-->
      <!--<h6 class="dropdown-header">Move to folder</h6>-->
      <!--<ng-container *ngIf="dropdown_folder?.id != nav_folder?.id">-->
        <!--<a *ngFor="let dropdown_folder of folders"-->
           <!--class="dropdown-item" href="/subscriptions/{{ subscription?.id }}/{{ dropdown_folder?.id }}/edit">{{ dropdown_folder?.name }}</a>-->
      <!--</ng-container>-->
    <!--</div>-->
  </div>
</li>
