<li class="nav-item" *ngFor="let subscription of noFolderSubscriptions">
  <!--<div class="btn-group dropright">-->
    <!--<button type="button" class="btn btn-no-border dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
      <!--<span class="folder_name">{{ subscription?.title }} </span>-->

      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-no-border" id="dropdownBasic1" ngbDropdownToggle>{{ subscription?.title}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item">Show Videos</button>
              <button class="dropdown-item" disabled>Move to folder</button>
              <button *ngFor="let folder of folders" class="dropdown-item"
                      (click)="moveToFolder(subscription?.id, folder?.id)">{{ folder?.name }}</button>
            </div>
          </div>
        </div>
      </div>

        <!--<div class="dropdown-menu">-->
      <!--<a class="dropdown-item" href="/dashboard/{{ subscription?.id }}">Show videos</a>-->
      <!--<h6 class="dropdown-header">Move to folder</h6>-->
      <!--<ng-container *ngIf="dropdown_folder?.id != nav_folder?.id">-->
        <!--<a *ngFor="let dropdown_folder of folders"-->
           <!--class="dropdown-item" href="/subscriptions/{{ subscription?.id }}/{{ dropdown_folder?.id }}/edit">{{ dropdown_folder?.name }}</a>-->
      <!--</ng-container>-->
    <!--</div>-->
  <!--</div>-->
</li>
