/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/ng-snotify/styles/material.css";
@import "../node_modules/dragula/dist/dragula.css";

.ng-invalid:not(form) {
  border-left: 5px solid red;
}

.ng-valid:not(form) {
  border-left: 5px solid green;
}

.folder_name {
  width: 100%;
  margin: 10px;
  margin-bottom: 18px;
}
.dropdown-toggle {
  width: 100%;
  text-align: left;
}

.folder_button {
  width: 100%;
  text-align: left;
}

.nav-item {
  padding-bottom: 20px;
}
.sidebar-sticky {
  padding-top: 3rem!important;
}

.btn-no-border {
  border:0px solid transparent;
  background-color: #f8f9fa!important;
}
